body{background-image: url("fondo2.jpg"); ;background-repeat:no-repeat round; background-size: 1366px 768px;
text-align: center;}

section {background-image: linear-gradient(to right,rgb(248, 200, 248) , rgba(252, 23, 137, 0.644));
  padding: 5rem 0; 
  
}

ul{list-style: none;}

h3{font-family: Georgia, 'Times New Roman', Times, serif;font-style: italic; font-size: 30px;background:#ffc3e4f5;
    animation-duration: 4s;
    animation-name:rotar;
    animation-iteration-count:infinite}

li{font-family:'Times New Roman', Times, serif;font-size: 1.8rem;}

#grid 
{display: grid; grid-template-rows: auto auto ; grid-template-columns: auto auto;}

.mapa { border: 4px solid #c54089f5; border-style:ridge;padding: 10px;}

.accordion-item {border: 4px solid #c54089f5; border-style: ridge; padding: 10px; background-color:#ffc3e4bb;
   font-family: Georgia, 'Times New Roman', Times, serif; font-style: normal;font-size: 25px;
   height: 180px; }
   

button.accordion-button.collapsed{background-color: rgba(255, 25, 159, 0.274); color: rgb(6, 7, 6); 
  font-family: Georgia, 'Times New Roman', Times, serif; font-size: 25px;}



.alert{background-color: rgb(245, 190, 233); color: black;}



@keyframes rotar {
        from { }
        to {
          background-color: rgb(255, 208, 255);
          transform:rotateY(50deg)
        }
      } 
      


@media only screen and (min-width: 320px) {
  #links { grid-template-columns:auto}
  .border { border: 4px solid rgba(247, 67, 157, 0.76); background-color:plum;
             }
              }


@media only screen and (min-width: 480px) {
  #links { grid-template-columns:auto}
  .border { border: 3px solid rgba(43, 33, 38, 0.76); background-color:rgb(116, 56, 116);
            }   
             }


@media only screen and (min-width: 1200x) {
  #links { grid-template-columns:auto}
  .border { border: 2px solid rgba(255, 195, 226, 0.76); background-color:rgb(235, 160, 250);
             }
              }      
              
